:root{
    --grid-columns: 1;
    --grid-rows: 1;
}

body{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.divs-container{
    border: 2px solid black;
    width: 50%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.divs{
    border: 1px solid black;
}

.control-buttons{
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: repeat(3, 50px);

}